astroid==1.5.3
backports.functools-lru-cache==1.4
configparser==3.5.0
cssselect==1.0.1
decorator==4.0.6
enum34==1.1.6
feedparser==5.1.3
Flask==0.12.1
Flask-MySQLdb==0.2.0
Flask-WTF==0.14.2
goose-extractor==1.0.25
gunicorn==19.7.1
Jinja2==2.10
mysqlclient==1.3.12
passlib==1.7.1
pylint==1.7.4
Werkzeug==0.13
wrapt==1.10.11
WTForms==2.1
yapf==0.20.0