{% extends 'layout.html' %}

{% block body %}
    <h1>Articles</h1>
    <table class='table table-bordered table-hover'>
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Dated</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        {% for article in articles %}
        <tr>
            <td>{{article.id}}</td>
            <td ><a href="article/{{article.id}}">{{article.title}}</a></td>
            <td>{{article.author}}</td>
            <td>{{article.create_date}}</td>
            {% if ( article.author == session.name ) %}
            <td><a class="btn btn-primary" href="edit_article/{{article.id}}">Edit</a></td>
            <td>
                <form action="{{url_for('delete_article', id = article.id)}}" method="POST" >
                    <input type="hidden" name"_method" value="DELETE" >
                    <input class="btn btn-danger" type="submit" value="Delete" >
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
{% endblock %}